@import url('./base.css');

.app {
  text-align: center;
}

.content {
  padding-top: 9.375rem;
  width: 43.125rem;
  height: 100%;
  margin: 0 auto;
}

.frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: .625rem solid #fff;
  pointer-events: none;
  z-index: 2;
}

.frame:before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: .8125rem solid #000;
  z-index: 2;
}

