:global(.cookie) {
  display: inline-block;
  width: 16.4375rem;
  height: 16.6875rem;
  background-image: url('../images/cookie.png');
  position: absolute;
  transition: bottom .5s ease-out;
}

:global(.cookie--0) {
  bottom: -3rem;
  left: 0;
}

:global(.cookie--0-enter.cookie--0-enter-active) {
  bottom: -3rem;
}

:global(.cookie--1) {
  bottom: -1rem;
  left: 8.21875rem;
  transition-delay: .25s;
  transform: rotate(135deg);
}

:global(.cookie--1-enter.cookie--1-enter-active) {
  bottom: -1rem;
}

:global(.cookie--2) {
  bottom: -3.5rem;
  right: 0;
  transition-delay: .50s;
  transform: rotate(270deg);
}

:global(.cookie--2-enter.cookie--2-enter-active) {
  bottom: -3.5rem;
}

:global(.cookie--0-enter),
:global(.cookie--1-enter),
:global(.cookie--2-enter),
:global(.cookie--3-enter) {
  bottom: 200%;
}

:global(.credits) {
  display: inline-block;
  width: 20.4375rem;
  height: 16.6875rem;
  background-image: url('../images/credits.png');
  position: absolute;
  transition: bottom .5s ease-out;
  bottom: 2.5rem;
  right: 8.21875rem;
  transition-delay: .75s;
  transform: rotate(90deg);
}

:global(.credits-enter.credits-enter-active) {
  bottom: 2.5rem;
}

:global(.credits-enter) {
  bottom: 200%;
}

@media (max-width: 30rem) {

  .biscuits {
    display: none;
  }

}
