.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.375rem;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  width: 10rem;
  height: 2.125rem;
  background-image: url('../images/logo.png');
  background-size: 10rem 2.125rem;
}

.logo:active {
  transform: rotate(30deg);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

  .logo {
    background-image: url('../images/logo@2x.png');
  }

}

@media (max-width: 30rem) {

  .header {
    height: 4.6875rem;
  }

}
