.header {
  display: block;
  height: 9.375rem;
  background-color: #fff;
  background-image: url('../images/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  z-index: 1;
}
