.link {
  display: table;
  margin: 0 auto;
  height: 13.75rem;
  font-size: 1.2rem;
  line-height: 1.4;
  color: #fe0000;
  position: relative;
}

.link:hover,
.link:hover * {
  font-size: 2.6rem;
  color: #0014e7;
}

.content {
  display: table-cell;
  vertical-align: middle;
  color: #000;
}

.meta {
  font-style: italic;
}

.anchor {
  color: #fe0000;
  text-decoration: none;
}

.url {
  color: #000;
  word-break: break-all;
}

.separator {
  position: absolute;
  bottom: 0;
  left: calc(50% - .625rem);
  width: 1.25rem;
  height: .125rem;
  background-color: #9b9b9b;
}
