.marquee {
  font-family: 'Lato';
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: #45FF04;
  animation: marquee 40s infinite;
}

@keyframes marquee {
  0% {
    color: #45FF04;
  }
  25% {
    color: #FF0000;
  }
  50% {
    color: #00FFEC;
  }
  75% {
    color: #3000FF;
  }
  100% {
    color: #45FF04;
  }
}

@media (max-width: 30rem) {

  .marquee {
    display: none;
  }

}
